@import "~bootstrap/scss/bootstrap";
body {
    overflow-x: hidden;
}
.card {
    border-radius: 2rem;
    margin: 1rem;
    background-color: rgba(49, 55, 73, 0.212);
    box-shadow: 10px 10px 5px #312e2e;
    img {
        border-radius: 2rem;
    }
    .card-body {
        text-align: center;
        h4 {
            background-color: rgba(49, 55, 73, 0.336);
            box-shadow: 10px 10px 5px #312e2e56;
            padding: 1rem;
            border-radius: 2rem;
        }
        p {
            margin-top: 2rem;
        }
    }
}
